[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/dalerank/imspinner.git
[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external-libs/sdl"]
	path = external-libs/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "external-libs/imgui"]
	path = external-libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "aura-libs/aura-glad"]
	path = aura-libs/aura-glad
	url = https://github.com/itselliee/aura-glad.git
