[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/dalerank/imspinner.git
